body{

  text-align: center;
}

img{
  height: 600px;


}
p{
  font-family: cursive;
}

.name{
  margin-left: 10px;
}
.active{
  object-fit: cover;
}

.bio{
  width: 40%;
  margin: auto;
}


.dish{
  width: 33.3%;
  float: left;
  background-color: white;
}

.food{
  width: 250px;
  height: 250px;
  padding-bottom: 20px;
  object-fit: cover;
  margin: auto;
}

.bottom-container{
  background-color: black;
  color: white;
  padding: 50px 20px 20px;
}
.footer-link{
  color: white;

}

.intro{
  width: 50%;
  margin: auto;
}
#main{
  background-color: black;
}
#about{
  background-color: black;
  color: white;
  padding: 20px;
  font-family: 'Mate SC', serif;
}
